<div class="row">
  <div
    class="col-md-3 mb-5 animate__animated animate__fadeIn"
    *ngFor="let movie of movies"
  >
    <img
      [src]="movie.poster_path | poster"
      class="img-fluid poster"
      (click)="onMovieClick(movie)"
    />

    <h3>{{ movie.title }}</h3>
    <div class="row text-white">
      <div class="col-10">
        <star-rating
          [value]="movie.vote_average"
          checkedcolor="yellow"
          uncheckedcolor="grey"
          size="14px"
          readonly="false"
          totalstars="10"
        ></star-rating>
      </div>
      <div class="col-2">{{ movie.vote_average | number: "1.0-2" }}</div>
    </div>
  </div>
</div>
